.btn-oauth {
    position : relative;
    color : #ffffff;
    padding-left : 4.8em;
    text-align : left;
    overflow : hidden;
    text-overflow : ellipsis;
    }
.i-oauth {
    position : absolute;
    left : 0.8em;
    font-size : 1.6em;
    vertical-align : text-bottom;
    }
.btn-google,
.btn-google:disabled {
    background-color : #db3236;
    }
.btn-google:focus,
.btn-google:hover,
.btn-google:active {
    background-color : #ca2125;
    }
.btn-facebook,
.btn-facebook:disabled {
    background-color : #3b5998;
    }
.btn-facebook:focus,
.btn-facebook:hover,
.btn-facebook:active {
    background-color : #2a4887;
    }
.btn-github,
.btn-github:disabled {
    background-color : #666666;
    }
.btn-github:focus,
.btn-github:hover,
.btn-github:active {
    background-color : #555555;
    }
.btn-twitter,
.btn-twitter:disabled {
    background-color : #55acee;
    }
.btn-twitter:focus,
.btn-twitter:hover,
.btn-twitter:active {
    background-color : #449bdd;
    }
.btn-steam,
.btn-steam:disabled {
    background-color : #4c6b22;
    }
.btn-steam:focus,
.btn-steam:hover,
.btn-steam:active {
    background-color : #3b5a11;
    }
