.btn-oauth {
    position : relative;
    color : #ffffff;
    padding-left : 4.8em;
    text-align : left;
    overflow : hidden;
    text-overflow : ellipsis;
    }
.i-oauth {
    position : absolute;
    left : 0.8em;
    font-size : 1.6em;
    vertical-align : text-bottom;
    }
.btn-goo,
.btn-goo:disabled {
    background-color : #db3236;
    }
.btn-goo:focus,
.btn-goo:hover,
.btn-goo:active {
    background-color : #ca2125;
    }
.btn-fac,
.btn-fac:disabled {
    background-color : #3b5998;
    }
.btn-fac:focus,
.btn-fac:hover,
.btn-fac:active {
    background-color : #2a4887;
    }
.btn-git,
.btn-git:disabled {
    background-color : #666666;
    }
.btn-git:focus,
.btn-git:hover,
.btn-git:active {
    background-color : #555555;
    }
.btn-twi,
.btn-twi:disabled {
    background-color : #55acee;
    }
.btn-twi:focus,
.btn-twi:hover,
.btn-twi:active {
    background-color : #449bdd;
    }
.btn-ste,
.btn-ste:disabled {
    background-color : #4c6b22;
    }
.btn-ste:focus,
.btn-ste:hover,
.btn-ste:active {
    background-color : #3b5a11;
    }
