<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
	    <link type="text/css" rel="stylesheet" href="/css/oauth.css">
        <title>{{ _( "Connected accounts" ) }}</title>
    </head>

    <body>
        <div class="container">

            {% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

            <h1>{{ _( "Connected accounts" ) }}</h1>


            <h2>{{ _( "Email and password" )}}</h2>
            <p>{% if data.email %}
                {{ _( "Email: " )}}{{ data.email }}&nbsp;<a class="btn btn-default btn-xs" href="{{ 'emailchange'|local }}">{{ _( "Change email" ) }}</a>
                {% else %}
                <a href="{{ 'emailchange'|local }}" class="btn btn-default">{{ _( "Add email" )}}</a>
                {% endif %}
            </p>
            <p>
                {% if data.allow_change_pw %}<a href="{{ 'passwordchange'|local }}" class="btn btn-default">{{ _( "Change password" )}}</a>{% else %}<a href="#" class="btn btn-default disabled">{{ _( "Change password" )}}</a>{% endif %}
	        </p>

            {% if data.auth_providers %}
                <h2>{{ _( "Third party authentication" ) }}</h2>
                <form class="form-group" action="{{ 'accountconnect'|local  }}" method="post">
                    <input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
	                <table class="table table-striped table-hover ">
		                <thead>
							<tr>
								<th></th>
								<th>{{ _( "Provider" )}}</th>
								<th>{{ _( "Unique Id" )}}</th>
								<th>{{ _( "Actions" )}}</th>
							</tr>
		                </thead>
						<tbody>
							{% for item in data.auth_providers %}
							<tr>
								<td><i class="fa fa-{{ item.provider_name|lower }}"></i></td>
							    <td>{{ item.provider_name }}</td>
							    <td>{{ item.provider_uid }}&nbsp;
								    {% if item.status == 'registered' %}
										<button class="btn btn-default btn-xs {% if not data.enough_accounts %}disabled{% endif %}" type="submit" name="deregister" value="{{ item.provider_name }}:{{ item.provider_uid }}">{{ _( "Deregister" )}}</button>
									{% endif %}
							    </td>
								<td>{% for authhandler in authhandlers %}
										{% if item.provider_name == authhandler.get_provider_name() %}
				                            {% set oauthbutton = authhandler.get_button() %}
											<button class="btn btn-oauth btn-{{ item.provider_name|lower }} btn-xs" type="submit" name="register" value="{{ item.provider_name }}"><i class="i-oauth fa {{ oauthbutton.icon }}"></i> {{ _( "Add login" )}}</button>
										{% endif %}
				                    {% endfor %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
	                </table>
                </form>
            {% endif %}


            {% include "incpageextensions.html" %}

            {% include "incfooter.html" %}
        </div>
    </body>
</html>
