<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>{{ _( "Admin" )}}</title>
    </head>

    <body>
        <div class="container">

            {% include "incbanner.html" %}
            {% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

			<h1 class="text-danger">Admin</h1>

			<h2 class="text-danger">Stats</h2>
			<table class="table">
				<thead>
					<tr>
						<th><small>Store<br>Download clicks<br>product_a</small></th>
						<th><small>Store<br>Purchase clicks<br>product_a</small></th>
						<th><small>Store<br>Licence Keys<br>FastSpring<br>Purchase<br>Not Activated</small></th>
						<th><small>Store<br>Licence Keys<br>FastSpring<br>Purchase<br>Activated</small></th>
						<th><small>Store<br>Licence Keys<br>Generator<br>Free-gift<br>Not Activated</small></th>
						<th><small>Store<br>Licence Keys<br>Generator<br>Free-gift<br>Activated</small></th>
						<th><small>Store<br>Licence Keys<br>Generator<br>Free-press<br>Not Activated</small></th>
						<th><small>Store<br>Licence Keys<br>Generator<br>Free-press<br>Activated</small></th>
						<th><small>Store<br>Licence Keys<br>Generator<br>Free-promo<br>Not Activated</small></th>
						<th><small>Store<br>Licence Keys<br>Generator<br>Free-promo<br>Activated</small></th>
						<th><small>Forums<br>Forum views</small></th>
						<th><small>Users</small></th>
						<th><small>Users<br>display name<br>current</small></th>
					</tr>
				</thead>
					<tbody>
						<tr>
							<td>{{ counter_downloads_product_a }}</td>
							<td>{{ counter_purchases_product_a }}</td>
							<td>{{ counter_licence_keys_fastspring_purchase_not_activated }}</td>
							<td>{{ counter_licence_keys_fastspring_purchase_activated }}</td>
							<td>{{ counter_licence_keys_generator_freegift_not_activated }}</td>
							<td>{{ counter_licence_keys_generator_freegift_activated }}</td>
							<td>{{ counter_licence_keys_generator_freepress_not_activated }}</td>
							<td>{{ counter_licence_keys_generator_freepress_activated }}</td>
							<td>{{ counter_licence_keys_generator_freepromo_not_activated }}</td>
							<td>{{ counter_licence_keys_generator_freepromo_activated }}</td>
							<td>{{ counter_views_forum }}</td>
							<td>{{ counter_users }}</td>
							<td>{{ counter_display_names_current }}</td>
						</tr>
					</tbody>
				</table>

			<h2 class="text-danger">Tools</h2>

			<h3 class="text-danger">Generate Licences</h3>
				<div class="well bs-component">
					<form class="form-horizontal" action="{{ 'generatelicencefree'|local }}" method="post">
						<input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
						<fieldset>
							<legend>{{ _( "Licence Key Generator" ) }}</legend>

							<div class="form-group">
								<label for="product" class="col-lg-2 control-label">{{ _( 'Product' ) }}</label>
								<div class="col-lg-10">
									<select class="form-control" type="text" name="product">
										<option>product_a</option>
										<option>product_b</option>
										<option>product_c</option>
										<option>product_d</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="quantity" class="col-lg-2 control-label">{{ _( 'Quantity' ) }}</label>
								<div class="col-lg-10">
									<input class="form-control" type="text" name="quantity" value="1">
								</div>
							</div>

							<div class="form-group">
								<label for="order_type" class="col-lg-2 control-label">{{ _( 'Order type' ) }}</label>
								<div class="col-lg-10">
									<select class="form-control" type="text" name="order_type">
										<option>free-gift</option>
										<option>free-promo</option>
										<option>free-press</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-2">
									<button class="btn btn-primary" type="submit" name="buy" value="{{ product }}">{{ _( "Generate" ) }}</button>
								</div>
							</div>

						</fieldset>
					</form>
				</div>

			<h3 class="text-danger">API</h3>
			<p><a href="/admin/apps">Applications</a></p>

            {% include "incfooter.html" %}
    	</div>
    </body>
</html>
