<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>{{ _( "Admin" )}}</title>
    </head>

    <body>
        <div class="container">

            {% include "incbanner.html" %}
            {% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

			<h1 class="text-danger">Admin</h1>

			<h2 class="text-danger">Reporting</h2>

			<table class="table  table-striped table-hover">
				<tbody>
					<tr><td>Store - Download clicks - product_a</td><td>{{ data[ 'counter_downloads_product_a' ] }}</td></tr>
					<tr><td>Store - Purchase clicks - product_a</td><td>{{ data[ 'counter_purchases_product_a' ] }}</td></tr>
					<tr><td>Store - Licence Keys - FastSpring - Purchase - Not Activated</td><td>{{ data[ 'counter_licence_keys_fastspring_purchase_not_activated' ] }}</td></tr>
					<tr><td>Store - Licence Keys - FastSpring - Purchase - Activated</td><td>{{ data[ 'counter_licence_keys_fastspring_purchase_activated' ] }}</td></tr>
					<tr><td>Store - Licence Keys - Generator - Free-gift - Not Activated</td><td>{{ data[ 'counter_licence_keys_generator_freegift_not_activated' ] }}</td></tr>
					<tr><td>Store - Licence Keys - Generator - Free-gift - Activated</td><td>{{ data[ 'counter_licence_keys_generator_freegift_activated' ] }}</td></tr>
					<tr><td>Store - Licence Keys - Generator - Free-press - Not Activated</td><td>{{ data[ 'counter_licence_keys_generator_freepress_not_activated' ] }}</td></tr>
					<tr><td>Store - Licence Keys - Generator - Free-press - Activated</td><td>{{ data[ 'counter_licence_keys_generator_freepress_activated' ] }}</td></tr>
					<tr><td>Store - Licence Keys - Generator - Free-promo - Not Activated</td><td>{{ data[ 'counter_licence_keys_generator_freepromo_not_activated' ] }}</td></tr>
					<tr><td>Store - Licence Keys - Generator - Free-promo - Activated</td><td>{{ data[ 'counter_licence_keys_generator_freepromo_activated' ] }}</td></tr>
					<tr><td>Forums - Forum views</td><td>{{ data[ 'counter_views_forum' ] }}</td></tr>
					<tr><td>Users</td><td>{{ data[ 'counter_users' ] }}</td></tr>
					<tr><td>User display names current</td><td>{{ data[ 'counter_display_names_current' ] }}</td></tr>
				</tbody>
			</table>
			
			<a href="/admin/report"><button class="btn btn-primary">{{ _( 'Open csv report' ) }}</button></a>

			<h2 class="text-danger">{{ _( "Licences" ) }}</h2>
				<div class="well bs-component">
					<form class="form-horizontal" action="{{ 'generatelicencefree'|local }}" method="post">
						<input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
						<fieldset>
							<legend>{{ _( "Licence Key Generator" ) }}</legend>

							<div class="form-group">
								<label for="product" class="col-lg-2 control-label">{{ _( 'Product' ) }}</label>
								<div class="col-lg-10">
									<select class="form-control" type="text" name="product">
										<option>product_a</option>
										<option>product_b</option>
										<option>product_c</option>
										<option>product_d</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="quantity" class="col-lg-2 control-label">{{ _( 'Quantity' ) }}</label>
								<div class="col-lg-10">
									<input class="form-control" type="text" name="quantity" value="1">
								</div>
							</div>

							<div class="form-group">
								<label for="order_type" class="col-lg-2 control-label">{{ _( 'Order type' ) }}</label>
								<div class="col-lg-10">
									<select class="form-control" type="text" name="order_type">
										<option>free-gift</option>
										<option>free-promo</option>
										<option>free-press</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="purchaser_email" class="col-lg-2 control-label">{{ _( 'Recipient email (optional)' ) }}</label>
								<div class="col-lg-10">
									<input class="form-control" type="text" name="purchaser_email" placeholder="{{ _( "Email" ) }}">
								</div>
							</div>
			<h2 class="text-danger">{{ _( "Email batch sending" )}}</h2>
			<a href="/admin/emailbatchsending"><button class="btn btn-default">{{ _( 'Compose and send newsletters' ) }}</button></a>

							<div class="form-group">
								<label for="purchaser_user_id" class="col-lg-2 control-label">{{ _( 'Recipient user Id (optional)' ) }}</label>
								<div class="col-lg-10">
									<input class="form-control" type="text" name="purchaser_user_id" placeholder="5066549580791808">
								</div>
							</div>

							<div class="form-group">
								<label for="info" class="col-lg-2 control-label">{{ _( 'Information (optional)' ) }}</label>
								<div class="col-lg-10">
									<textarea class="form-control" rows="2" id="info" name="info"></textarea>
								</div>
							</div>

							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-2">
									<button class="btn btn-primary" type="submit" name="buy" value="{{ product }}">{{ _( "Generate" ) }}</button>
								</div>
							</div>

						</fieldset>
					</form>
				</div>

			<h2 class="text-danger">API</h2>
			<p><a href="/admin/apps">Applications</a></p>

            {% include "incfooter.html" %}
    	</div>
    </body>
</html>
