<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>{{ _( "Applications" )}}</title>
    </head>

    <body>
        <div class="container">

            {% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

            {% if data %}
                <h3>{{ _( "Applications" ) }}</h3>
                <form class="form-group" action="{{ 'apps'|local  }}" method="post">
                    <input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
	                <table class="table table-striped table-hover ">
		                <thead>
							<tr>
								<th>#</th>
								<th>{{ _( "Name" )}}</th>
								<th>{{ _( "Id" )}}</th>
							    <th>{{ _( "Secret" )}}</th>
								<th>{{ _( "Created" )}}</th>
							</tr>
		                </thead>
						<tbody>
							{% for item in data %}
							<tr {% if item[ 1 ] == app_success %}class="success"{% endif %}>
								<td>{{ loop.index }}</td>
							    <td>{{ item[ 0 ]|e }}</td>
							    <td>{{ item[ 1 ]|e }}</td>
							    <td>{{ item[ 2 ]|e }}<br><button class="btn btn-default btn-xs" type="submit" name="app_secret_set" value="{{ item[ 1 ] }}">{{ _( "Generate new" )}}</button></td>
								<td>{{ item[ 3 ].strftime( "%d %b %Y<br>%H:%M:%S UTC" ) }}</td>
							</tr>
							{% endfor %}
						</tbody>
	                </table>
                </form>
            {% endif %}

            <div class="well bs-component">
                <form class="form-horizontal" action="{{ 'apps'|local }}" method="post">
                    <input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
                    <fieldset>

                        <legend>{{ _( "Register an application" ) }}</legend>

                        <div class="form-group {% if error %}has-error{% endif%}">
                            <label for="app_name" class="col-lg-2 control-label">{{ _( "Application name" ) }}</label>
                             <div class="col-lg-10">
                                 <input class="form-control" type="text" name="app_name" placeholder="{{ _( "Application name" ) }}" maxlength="{{ app_max_name_length }}" />
                                 {% if error %}<label class="control-label">{{ error }}</label>{% endif%}
                                 <p class="text-info">{{ _( "Register an application to use the REST API. You can register up to <b>%(app_max)s</b> applications per user. The application name must be less than %(app_max_name_length)s characters long.", app_max = app_max, app_max_name_length = app_max_name_length ) }}</p>
	                         </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button class="btn btn-primary" type="submit">{{ _( "Register" ) }}</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

	        {% include "incpageextensions.html" %}

            {% include "incfooter.html" %}
    	</div>
    </body>
</html>
