<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>Email subscriptions</title>
    </head>

    <body>
        <div class="container">

            {% include "incbanner.html" %}
			{% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

            <h1>{{ _( "Email subscriptions" )}}</h1>

			<div class="well bs-component">
                <form class="form-horizontal" action="{{ 'emailsubscriptions'|local }}" method="post">
                    <input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
                    <fieldset>

                        <legend>{{ _( "Subscribe to newsletter" ) }}</legend>

						{# <!-- IF is_logged_in --> #}
						{% if data[0] %}
							{# <!-- IF has_email_subscriptions --> #}
							{% if data[1] %}
								{# <!-- UNSUBSCRIBE --> #}
								<div class="form-group">
									<div class="col-lg-10">
										<button class="btn btn-primary" type="submit" name="submittype" value="unsubscribe">{{ _( "Unsubscribe" ) }}</button>
									</div>
								</div>
							{# <!-- IF NOT has_email_subscriptions AND has_email --> #}
							{% elif data[2] %}
								{# <!-- SUBSCRIBE with user email --> #}
								<div class="form-group">
									<div class="col-lg-10">
										<button class="btn btn-primary" type="submit" name="submittype" value="subscribe">{{ _( "Subscribe" ) }}</button>
									</div>
								</div>
							{% endif %}
						{% endif %}

						{# <!-- IF NOT is_logged_in OR ( is_logged_in AND NOT has_email_subscriptions AND NOT has_email)--> #}
						{% if ( not data[0] or ( data[0] and not data[1] and not data[2] )) %}
							{# <!-- SUBSCRIBE with ENTERED email --> #}
							<div class="form-group {% if error %}has-error{% endif%}">
								<label for="email" class="col-lg-2 control-label">{{ _( "Email" ) }}</label>
								 <div class="col-lg-10">
									 <input class="form-control" type="text" name="email" placeholder="{{ _( "Email" ) }}" value = "{{ email }}"/> {# <!-- email escaped in the handler --> #}
									 {% if error %}<label class="control-label">{{ error }}</label>{% endif%}
									 <p class="text-info">{{ _( "You will receive an email to confirm your subscription. If you don't, please try again after a delay and otherwise contact us." ) }} <a href="mailto:{{ data[3] }}">{{ data[3] }}</a></p>
								 </div>
							</div>

							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-2">
									<button class="btn btn-primary" type="submit" name="submittype" value="subscribeemail">{{ _( "Subscribe" ) }}</button>
								</div>
							</div>
						{% endif %}

					</fieldset>
                </form>
            </div>

            {% include "incfooter.html" %}
        </div>
    </body>
</html>
