<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>{{ _( "Change email" ) }}</title>
    </head>

    <body>
        <div class="container">

            {% include "incbanner.html" %}
            {% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

            <div class="well bs-component">
                <form class="form-horizontal" action="{{ 'emailchange'|local }}" method="post">
                    <input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
                    <fieldset>

                        <legend>{{ _( "Change email" ) }}</legend>

                        <div class="form-group {% if error %}has-error{% endif%}">
                            <label for="email" class="col-lg-2 control-label">{{ _( "New email" ) }}</label>
                             <div class="col-lg-10">
                                 <input class="form-control" type="text" name="email" placeholder="{{ _( "New email" ) }}" value = "{{ email }}"/> {# <!-- email escaped in the handler --> #}
								 {% if error %}<label class="control-label">{{ error }}</label>{% endif%}
								 <p class="text-info">{{ _( "To delete your email, leave the field blank. (You need to be able to log in with third party authentication to delete your email.)" ) }}</p>
								 {% if has_email_subscriptions %}
								 <p class="text-info">{{ _( "Email subscriptions" )}}
									 <ul class="text-info">
								 		<li>{{ _( "Changing your login email address doesn't affect your email subscriptions. Newsletters will continue being sent to your old address. Once your email change is confirmed you won't be able to manage those subscriptions through your account profile page." ) }}</li>
								 		<li>{{ _( "Deleting your email address cancels all your subscriptions." ) }}</li>
							 		</ul>
								 {% endif %}</p>
                             </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button class="btn btn-primary" type="submit">{{ _( "Change email" ) }}</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>

            {% include "incfooter.html" %}
        </div>
    </body>
</html>
