<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>{{ _( "Email batch sending" )}}</title>
    </head>

    <body>
        <div class="container">

            {% include "incbanner.html" %}
            {% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

			<h1 class="text-danger">{{ _( "Email batch sending" )}}</h1>

			<div class="well bs-component">
				<form class="form-horizontal" action="{{ 'emailbatchsending'|local }}" method="post" id="mainform">
					<input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
					<fieldset>
						<legend>{{ _( "Compose and send a newsletter" ) }}</legend>

						<div class="form-group">
							<label for="newsletter" class="col-lg-2 control-label">{{ _( 'Newsletter' ) }}</label>
							<div class="col-lg-10">
								<select class="form-control" type="text" name="newsletter" value = "{{ newsletter }}">
									<option>{{ newsletter }}</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label for="subject" class="col-lg-2 control-label">{{ _( 'Subject' ) }}</label>
							<div class="col-lg-10">
								<input class="form-control" type="text" name="subject" value = "{{ subject }}">
							</div>
						</div>

						<div class="form-group">
							<label for="body_text" class="col-lg-2 control-label">{{ _( 'Body text' ) }}</label>
							<div class="col-lg-10">
								<textarea class="form-control" rows="10" id="body_text" name="body_text">{{ body_text }}</textarea>
							</div>
						</div>

						<div class="form-group">
							<label for="footer" class="col-lg-2 control-label">{{ _( 'Footer' ) }}</label>
							<div class="col-lg-10">
								<textarea class="form-control" rows="4" id="footer" name="footer" readonly="">{{ footer }}</textarea>
							</div>
						</div>

						<div class="form-group">
							<div class="col-lg-10 col-lg-offset-2">
								<div class="checkbox">
									<label>
										<input type="checkbox" name="readytosend"><p class={% if ready_to_send %}"text-primary"{% else %}"text-info"{% endif %}>{{ _( "Ready to send batch email?" ) }}</p>
									</label>
								</div>
								<button class="btn btn-primary" type="submit" name="submittype" value="send">{{ _( "Send" ) }}</button>
								<button class="btn btn-info" type="submit" name="submittype" value="sendtest">{{ _( "Send me a test email" ) }}</button>
								<button class="btn btn-default" type="submit" name="submittype" value="reset">{{ _( "Reset" ) }}</button>
							</div>
						</div>

					</fieldset>
				</form>
			</div>

            {% include "incfooter.html" %}
    	</div>
    </body>
</html>
