<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>{{ _( "Forums" ) }}</title>
    </head>

    <body>
        <div class="container">

            {% include "incbanner.html" %}
            {% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

            <h1>{{ _( "Forums" ) }}</h1>

            <p><span class="badge">{{ thread_view_count }}</span> {{ _( "total thread views" ) }}</p>

            <div class="row">
                <div class="col-xs-2"><p><em>{{ _( "Title" ) }}</em></p></div>
                <div class="col-xs-6"><p><em>{{ _( "Description" ) }}</em></p></div>
				<div class="col-xs-2"><p><em>{{ _( "Last activity" ) }}</em></p></div>
                <div class="col-xs-1"><p><em>{{ _( "Threads" ) }}</em></p></div>
                <div class="col-xs-1"><p><em>{{ _( "Posts" ) }}</em></p></div>
            </div>

			{% for group in forums_data %}
				<div class="row">
					<div class="col-xs-10"><p id="company">{{ group.name }}</p></div>
					<div class="col-xs-1"><p><span class="badge">{{ group.num_threads }}</span></p></div>
					<div class="col-xs-1"><p><span class="badge">{{ group.num_posts }}</span></p></div>
				</div>

				<ul class="list-group">
					{% for forum in group.forums %}
						<li class="list-group-item">
							<div class="row">
								<div class="col-xs-2"><a href="{{ forum.url }}">{{ forum.title }}</a></div>
								<div class="col-xs-6">{{ forum.description }}</div>
								<div class="col-xs-2">{{ forum.time_updated.strftime( "%a, %d %b %Y %H:%M:%S" )}} UTC</div>
								<div class="col-xs-1"><span class="badge">{{ forum.num_threads }}</span></div>
								<div class="col-xs-1"><span class="badge">{{ forum.num_posts }}</span></div>
							</div>
						</li>
					{% endfor %}
				</ul>
			{% endfor %}

            {% include "incfooter.html" %}
        </div>
    </body>
</html>
