<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>Friends</title>
    </head>

    <body>
        <div class="container">

            {% include "incbanner.html" %}
            {% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

            <h1>{{ _( "Friends" )}}</h1>

            {% if data %}
	        <div>
            <form class="form-group" action= "{{ 'friends'|local }}" method="post">
                <input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
                <fieldset>

                {% for item in data %}
                    <p><a href="{{ item.user_page }}">{% if item.display_name == deleted_dn %}{{ deleted_dn_display }}{% else %}{{ item.display_name }}{% endif %}</a>
                        &nbsp;<button class="btn btn-primary btn-xs" type="submit" name="remove" value="{{ item.user_id }}">{{ _( "Remove" )}}</button>
                    </p>
                {% endfor %}

                </fieldset>
            </form>
	        </div>
            {% endif %}

            <div class="well bs-component">
            <form class="form-horizontal" action="{{ 'friends'|local }}" method="post">
                <input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
                <fieldset>

                    <legend>{{ _( "Invite someone to join your friends list" ) }}</legend>

                    <div class="form-group {% if error %}has-error{% endif %}">
                        <label for="friend_display_name" class="col-lg-2 control-label">{{ _( "Display name" ) }}</label>
                         <div class="col-lg-10">
                             <input class="form-control" type="text" name="search" placeholder="{{ _( "display name" ) }}" {% if friend_name %}value = "{{ friend_name }}"{% endif %} maxlength="21" />
                             {% if error %}<label class="control-label">{{ error }}</label>{% endif%}
                             <p class="text-info">{{ _( "Enter the display name of the person you would like to add to your friends. The display name is a string of 3 to 12 alphanumeric characters (prefix), followed by '#' and 4 digits (suffix). You can enter the full display name or just the prefix. The search is case insensitive." ) }}</p>
                         </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button class="btn {% if result and not error %}btn_default{% else %}btn-primary{% endif %}" type="submit" >{{ _( "Search" ) }}</button>
                        </div>
                    </div>

                </fieldset>
            </form>
            {% if result %}
            <form class="form-group" action= "{{ 'friends'|local }}" method="post">
                <input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
	            <fieldset>

                    {% if result.best_match %}
                    <h3>{{ _( "User found" )}}</h3>
                    {{ result.best_match.prefix }}{{ result.best_match.suffix }}
                    <p><a href="{{ result.best_match.user_page }}">{{ result.best_match.display_name }}</a>
                        &nbsp;<button class="btn btn-primary btn-xs" type="submit" name="invite" value="{{ result.best_match.user_id }}">{{ _( "Invite" )}}</button>
                    </p>

                    {% elif result.suggestions %}
                    <h3>{{ _( "Users with a similar prefix" )}}</h3>
                    {% for item in result.suggestions %}
                    <p><a href="{{ item.user_page }}">{{ item.display_name }}</a>
                        &nbsp;<button class="btn btn-primary btn-xs" type="submit" name="invite" value="{{ item.user_id }}">{{ _( "Invite" )}}</button>
                    </p>
                    {% endfor %}
                    {% endif %}

	            </fieldset>
            </form>
            {% endif %}
            </div>

            {% include "incfooter.html" %}
        </div>
    </body>
</html>
