<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>enkiWS - Open Source Web Services for Games on Python Google App Engine</title>
		<meta name="description" content="enkiWS is a library for setting up a website and ancillary services for games on Google App Engine, a permissively licensed Python web service for games developers.">
    </head>

    <body>
        <div class="container">

            {% include "incbanner.html" %}
            {% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

            <h1>{{ _( "Home" ) }}</h1>
				<h2>enkiWS - Open Source Web Services for Games on Python Google App Engine</h2>
			<br><br>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Information - about enkiWS</b></h3>
                </div>
                <div class="panel-body">
					<p>This is a <em>test webservice</em> for open source project <b>enkiWS</b>: <em>accounts and forum posts may be deleted at any time and without warning.</em></p>
					<p>A permissively licensed Python web service for games developers, enkiWS is a library for setting up a website and ancillary services for games on Google App Engine.</p>
					<ul>
						<li><p>More <a href="https://github.com/juliettef/enkiWS">Information and enkiWS source code on GitHub <i class="fa fa-github" aria-hidden="true"></i></a></p></li>
						<li><p>Example of use: our website <a href="https://www.enkisoftware.com">www.enkisoftware.com</a></p></li>
					</ul>
                </div>
            </div>
			<br>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Information - à propos d'enkiWS</b></h3>
                </div>
                <div class="panel-body">
	                <p>Ceci est un <em>site test</em> pour le projet open source <b>enkiWS</b> : <em>les comptes et messages de forum peuvent être supprimés à tout moment.</em></p>
					<ul>
						<li><p><a href="https://github.com/juliettef/enkiWS">Information et code source d'enkiWS sur GitHub <i class="fa fa-github" aria-hidden="true"></i></a> (en anglais)</p></li>
						<li><p>Exemple d'utilisation d'enkiWS : notre site <a href="https://www.enkisoftware.com">www.enkisoftware.com</a></p></li>
					</ul>

                </div>
            </div>

            {% include "incfooter.html" %}
    	</div>
    </body>
</html>
