<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>enkiWS - Open Source Web Services for Games on Python Google App Engine</title>
		<meta name="description" content="enkiWS is a library for setting up a website and ancillary services for games on Google App Engine, a permissively licensed Python web service for games developers.">
    </head>

    <body>
        <div class="container">

            {% include "incbanner.html" %}
            {% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

            <h1>{{ _( "Home" ) }}</h1>

			<p>enkiWS - Open Source Web Services for Games on Python Google App Engine</p>

			<h3>About enkiWS</h3>
			<p>This site is a demo of open source project <a href="https://github.com/juliettef/enkiWS">enkiWS</a>. A permissively licensed Python web service for independent games developers, enkiWS is a library for setting up a website and ancillary services for games on Google App Engine.</p>
			<ul>
				<li><p>Licence <a href="https://github.com/juliettef/enkiWS/blob/master/licence.txt">zlib</a></p></li>
				<li><p><a href="https://github.com/juliettef/enkiWS#functionality">List of features</a></p></li>
				<li><p><a href="https://github.com/juliettef/enkiWS#instructions">Documentation</a></p></li>
				<li><p>Source code on <a href="https://github.com/juliettef/enkiWS">GitHub</a></p></li>
				<li><p>Example of use <a href="https://www.enkisoftware.com">www.enkisoftware.com</a></p></li>
			</ul>
			<p><em>Note - accounts and forum posts on this demo site may be deleted at any time and without warning.</em></p>

			<h3>À propos d'enkiWS</h3>
			<p>Ce site est une <em>démo</em> du projet open source <a href="https://github.com/juliettef/enkiWS">enkiWS</a>, un service web sur Google App Engine destiné aux développeurs de jeux vidéo indépendants.</p>
			<ul>
				<li><p>Licence <a href="https://github.com/juliettef/enkiWS/blob/master/licence.txt">zlib</a></p></li>
				<li><p><a href="https://github.com/juliettef/enkiWS#functionality">Liste des fonctionnalités</a></p></li>
				<li><p><a href="https://github.com/juliettef/enkiWS#instructions">Documentation</a></p></li>
				<li><p>Code source sur <a href="https://github.com/juliettef/enkiWS">GitHub</a></p></li>
				<li><p>Exemple d'utilisation <a href="https://www.enkisoftware.com">www.enkisoftware.com</a></p></li>
			</ul>
			<p><em>Note - les comptes et messages de forum sur ce site de démonstration peuvent être supprimés à tout moment et sans préavis.</em></p>

            {% include "incfooter.html" %}
    	</div>
    </body>
</html>
