
<footer>
    <br>
    <div class="well well-sm">
        <div class="row">
            <div class="col-xs-4"><small><a href="https://github.com/juliettef/enkiWS">{{ _( "made with enkiWS - source code on GitHub" )}} <i class="fa fa-github" aria-hidden="true"></i></a></small></div>
			<div class="col-xs-2" align="right"><small><a href="{{ 'terms'|local }}">{{ _( "Terms of service" ) }}</a></small></div>
			<div class="col-xs-2" align="right"><small><a href="{{ 'privacy'|local }}">{{ _( "Privacy policy" ) }}</a></small></div>
			<div class="col-xs-4" align="right"><small></small></div>
        </div>
    </div>
{% if debug %}{% include "incmessagedebug.html" %}{% endif %}
</footer>
