<div class="well">
	<h2><a href id="library"></a>{{ _( "Library" )}}</h2>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>{{ _("Licences") }} &nbsp;&nbsp;&nbsp;<a href="{{ 'library'|local }}" class="btn btn-default btn-sm">{{ _( "Manage" ) }}</a></h4>
		</div>
		<div class="panel-body">
			<p><b>{{ _( "Available to activate or give" )}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
				{% if data[ 0 ] %}
					{{ data[ 0 ] }}
				{% else %}
					{{ _( "None" ) }}
				{% endif %}
			</p>
			<p><b>{{ ngettext( "Activated", "Activated", data[ 1 ] ) }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
				{% if data[ 1 ] %}
					{{ data[ 1 ] }}
				{% else %}
					{{ _( "None" ) }}
				{% endif %}
			</p>
		</div>
	</div>
</div>
