<div class="well">
	<form class="form-group" action="{{ 'profile'|local }}" method="post">
		<input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
		<input type="hidden" name="anchor" value="code"><a href id="code"></a>
		<fieldset>
			<div class="form-group row">
				<div class="col-sm-10">
					<h2>{{ _( "Applications" )}}</h2>
                </div>
            </div>
        </fieldset>
    </form>
	<div>
        <form class="form-group" action="{{ 'restapi'|local }}" method="post">
            <input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
            <button class="btn btn-default" type="submit" name="generate">{{ _( "Generate Connect Code" )}}</button>
        </form>
		<a href="{{ 'appdatastores'|local }}" class="btn btn-default">{{ _( "Apps data" ) }}</a>
	</div>
</div>
