<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>Mailing</title>
    </head>

    <body>
        <div class="container">

            {% include "incbanner.html" %}
			{% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

            <h1>{{ _( "Mailing" )}}</h1>

			{# <!-- IF is_logged_in --> #}
			{% if data[0] %}
				{# <!-- IF has_subscriptions --> #}
				{% if data[1] %}
					{# <!-- UNSUBSCRIBE --> #}
					UNSUBSCRIBE
			 	{# <!-- IF NOT has_subscriptions AND has_email --> #}
				{% elif data[2] %}
					{# <!-- SUBSCRIBE with user email --> #}
					SUBSCRIBE with user email
				{% endif %}
			{% endif %}

			{# <!-- IF NOT is_logged_in OR ( is_logged_in AND NOT has_subscriptions AND NOT has_email)--> #}
			{% if (( not data[0] ) or ( data[0] and ( not data[1] and not data[2] ))) %}
				{# <!-- SUBSCRIBE with ENTERED email --> #}
				SUBSCRIBE with ENTERED email
			{% endif %}

            {% include "incfooter.html" %}
        </div>
    </body>
</html>
