<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>{{ _( "Media" ) }}</title>
		<meta name="description" content="{{ _( 'Media - images and videos' ) }}">
    </head>

    <body>

        <div class="container">

            {% include "incbanner.html" %}
            {% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

            <h1>{{ _( "Media" ) }}</h1>

			{% if gallery and image %}
				<div>
					<p>
						<a href="https://storage.googleapis.com/enkisoftware-images/Avoyd_2014-11-29_Bolids_Tree.jpg">
						<img alt="Avoyd screenshot" src="https://storage.googleapis.com/enkisoftware-images/Avoyd_2014-11-29_Bolids_Tree_thumb.jpg" width=100% class="img-rounded">
						</a>
					</p>
				</div>
				<div>
					<p align=center>
						<a href="" style="text-decoration: none">&nbsp;&nbsp;<i class="fa fa-caret-left fa-2x" aria-hidden="true" aria-label="previous"></i>&nbsp;&nbsp;</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="" style="text-decoration: none"><i class="fa fa-close fa-2x" aria-hidden="true" aria-label="close"></i></a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="" style="text-decoration: none">&nbsp;&nbsp;<i class="fa fa-caret-right fa-2x" aria-hidden="true" aria-label="next"></i>&nbsp;&nbsp;</a>
					</p>
				</div>
			{% endif  %}

{{ media_html }}

            {% include "incfooter.html" %}
    	</div>
    </body>
</html>
