<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>{{ _( "Media" ) }}</title>
		<meta name="description" content="{{ _( 'Media - images and videos' ) }}">
    </head>

    <body>

        <div class="container">

            {% include "incbanner.html" %}
            {% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

            <h1>{{ _( "Media" ) }}</h1>

			{% if src_image_displayed %}
				<div>
					<p>
						<a href="{{url_image_displayed}}">
						<img alt="{{alt_image_displayed}}" src="{{src_image_displayed}}" width=100% class="img-rounded">
						</a>
					</p>
					<p align=center>
						{{caption_image_displayed}}
					</p>
				</div>
				<div>
					<p align=center>
						<a href="{{url_image_previous}}" style="text-decoration: none">&nbsp;&nbsp;<i class="fas fa-caret-left fa-2x" aria-hidden="true" aria-label="previous"></i>&nbsp;&nbsp;</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="{{ 'media' | local }}" style="text-decoration: none"><i class="fas fa-times fa-2x" aria-hidden="true" aria-label="close"></i></a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="{{url_image_next}}" style="text-decoration: none">&nbsp;&nbsp;<i class="fas fa-caret-right fa-2x" aria-hidden="true" aria-label="next"></i>&nbsp;&nbsp;</a>
					</p>
				</div>
			{% endif  %}

{{ media_html }}

            {% include "incfooter.html" %}
    	</div>
    </body>
</html>
