<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>Messages</title>
    </head>

    <body>
        <div class="container">

            {% include "incbanner.html" %}
			{% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

            <h1>{{ _( "Messages" )}}</h1>

            {% if data %}
			<div>
            <form class="form-group" action= "{{ 'messages'|local }}" method="post">
                <input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
	            <fieldset>

                    <h3>{{ _( "Friend requests" )}}</h3>
		            {% for item in data %}
		                {% if item.type == 'friend_request' %}
	                    <p><a href="{{ item.sender.user_page }}">{% if item.sender.display_name == deleted_dn %}{{ deleted_dn_display }}{% else %}{{ item.sender.display_name }}{% endif %}</a>
	                        &nbsp;<button class="btn btn-primary btn-xs" type="submit" name="accept" value="{{ item.message_id }}">{{ _( "Accept" )}}</button>
		                    &nbsp;<button class="btn btn-default btn-xs" type="submit" name="decline" value="{{ item.message_id }}">{{ _( "Decline" )}}</button>
	                    </p>
						{% endif %}
                    {% endfor %}

	            </fieldset>
            </form>
			</div>
	        {% else %}
	        <p class="text-info">{{ _( "You do not have any messages." ) }}</p>
            {% endif %}

            {% include "incfooter.html" %}
        </div>
    </body>
</html>
