<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>{{ _( "Page not found" ) }}</title>
		<meta name="description" content="{{ _( "Page not found" ) }}">
    </head>

    <body>
        <div class="container">

            {% include "incbanner.html" %}
            {% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

            <h1>{{ _( "Page not found" ) }}</h1>
			<p>{{ _( "Error code: 404" ) }}</p>

            {% include "incfooter.html" %}
    	</div>
    </body>
</html>
