<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
		{% include "incheadrobotsnofollow.html" %}
		{% if data %}
			<title>{{ data.forum.group|e }} > {{ _( "Forum" ) }} - {{ data.forum.title|e }} > {{ _( "Thread" ) }} - {{ data.thread.title|e|truncate(80) }} > {{ _( "Post" ) }}</title>
		{% else %}
			<title>{{ _( "Post" ) }}</title>
		{% endif %}
    </head>

    <body>
        <div class="container">

            {% include "incbanner.html" %}
			{% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

            {% if data %}
                <ul class="breadcrumb">
                    <li><a href="{{ data.forums_url }}#{{ data.forum.group }}">{{ data.forum.group|e }}</a></li>
                    <li><a href="{{ data.forum_url }}">{{ _( "Forum" ) }} - {{ data.forum.title|e }}</a></li>
                    <li><a href="{{ data.thread_url }}">{{ _( "Thread" ) }} - {{ data.thread.title|e|truncate(80) }}</a></li>
                    <li>{{ _( "Post" ) }}</li>
                </ul>

                <h3>{{ _( "Post" ) }}</h3>
                <div class="panel panel-default">
                    <div class="panel-heading">
						{% if data.sticky %}<i class="fa fa-thumb-tack"></i>&nbsp;&nbsp;{% endif %}
                        {% if data.author_data.display_name == deleted_dn %}{{ deleted_dn_display }}{% else %}<a href="{{ data.author_data.user_page }}">{{ data.author_data.display_name}}</a>{% endif %}
                        - {{ _( "posted" )}} {{ data.post.time_created.strftime( "%a, %d %b %Y %H:%M:%S" )}} UTC
						{% if data.post.time_updated > data.post.time_created %}- {% if data.post.body == deleted_post %}{{ _( "deleted" ) }}{% else %}{{ _( "edited" ) }}{% endif %} {{ data.post.time_updated.strftime( "%a, %d %b %Y %H:%M:%S" )}} UTC{% endif %}
	                    - <a href="{{ data.post_page }}">{{ _( "permalink" ) }}</a>
                        {% if isauthor %}{% if change != 'edit' %}- <a href="{{ data.post_page|joinurl({ 'change':'edit' }) }}">{{ _( "edit" ) }}</a>{% endif %}
	                    {% if change != 'delete' and data.post.body != deleted_post %}- <a href="{{ data.post_page|joinurl({ 'change':'delete' }) }}">{{ _( "delete" ) }}</a>{% endif %}{% endif %}
                    </div>
                    <div class="panel-body">
                        {% if data.post.body == deleted_post %}{{ deleted_post_display }}{% else %}{{ data.markdown_escaped_extras( data.post.body ) }}{% endif %}
                    </div>
                </div>

		        {% if change %}
	                {% if is_logged_in %}
						{% if isauthor %}
	                        {% if change == 'delete' %}
	                            <div class="well bs-component">
		                            <form class="form-horizontal" action="{{ data.post_page|joinurl({ 'change':'delete' }) }}" method="post" id="mainform">
			                            <input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
			                            <fieldset>
			                                <legend>{{ _( "Delete post" ) }}</legend>
		                                    <div class="form-group {% if error %}has-error{% endif%}">
		                                        <div class="col-lg-12">
			                                        {% if error %}<label class="control-label">{{ error }}</label>{% endif%}
			                                        <p class="text-warning">{{ _( "You are about to delete the contents of your post, are you sure? This cannot be undone." ) }}</p>
		                                            <button class="btn btn-primary" type="submit" name="submittype" value="delete">{{ _( "Delete" ) }}</button>
		                                            <button class="btn btn-default" type="submit" name="submittype" value="cancel">{{ _( "Cancel" ) }}</button>
		                                        </div>
		                                    </div>
		                                </fieldset>
		                            </form>
		                        </div>

	                        {% elif change == 'edit' %}
	                            {% if display_name %}
			                        <div class="well bs-component">
			                            <form class="form-horizontal" action="{{ data.post_page|joinurl({ 'change':'edit' }) }}" method="post" id="mainform">
			                                <input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
				                            <fieldset>
			                                    <legend>{{ _( "Edit post" ) }}</legend>
			                                    <div class="form-group {% if error %}has-error{% endif%}">
			                                        <label for="post_body" class="col-lg-1 control-label">{{ _( "Post" ) }}</label>
			                                        <div class="col-lg-11">
			                                            <textarea class="form-control" rows="6" id="textArea" name="post_body" placeholder="{{ _( "Your text" ) }}">{{ postbody }}</textarea>
			                                            {% if error %}<label class="control-label">{{ error }}</label>{% endif%}
														<p class="text-info">{{ _( "Use markdown for formatting - <a href='%(url_syntax)s' target='_blank'>Syntax</a> - <a href='%(url_cheatsheet)s' target='_blank'>Cheatsheet</a> - embed videos and images with the following syntax: ![alt text](url).", url_syntax = "https://daringfireball.net/projects/markdown/syntax", url_cheatsheet = "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" ) }} {{ ngettext( "Maximum post length: %(length)s character.", "Maximum post length: %(length)s characters.", maxpostlength, length = maxpostlength ) }}</p>
                                                    </div>
			                                    </div>
												{% if has_permission_sticky %}
												<div class="form-group">
													<label for="sticky_order" class="col-md-1 control-label">{{ _( "Sticky" ) }}</label>
														<div class="col-md-3">
															<select class="form-control" name="sticky_order">
																<option value="0">{{ _( "0 - not sticky" ) }}</option>
																<option value="1">{{ _( "1 - sticky" ) }}</option>
																<option value="2">{{ _( "2 - more sticky" ) }}</option>
																<option value="3">{{ _( "3 - top sticky" ) }}</option>
															</select>
														</div>
														<div class="col-md-5">
															<p class="text-info">{{ _( "To make a post sticky, pick a number greater than 0. The larger the number, the higher up the list the stickied post is." ) }}</p>
														</div>
												</div>
												{% endif %}
			                                    <div class="form-group">
			                                        <div class="col-lg-11 col-lg-offset-1">
				                                        <button class="btn btn-info" type="submit" name="submittype" value="preview">{{ _( "Preview" ) }}</button>
			                                            <button class="btn btn-primary" type="submit" name="submittype" value="submit">{{ _( "Submit modified post" ) }}</button>
			                                            <button class="btn btn-default" type="submit" name="submittype" value="cancel">{{ _( "Cancel" ) }}</button>
			                                        </div>
			                                    </div>
			                                </fieldset>
			                            </form>
			                        </div>

			                        {% if preview %}
			                            <h4 class="text-info">{{ _( "PREVIEW" ) }}</h4>
			                            <hr>
			                            <div class="panel panel-info">
			                                <div class="panel-heading">
			                                    {{ display_name }} - {{ _( "date and time submitted UTC" ) }} - {{ _( "permalink" ) }}
			                                </div>
			                                <div class="panel-body">
			                                    {{ data.markdown_escaped_extras( preview ) }}
			                                </div>
			                            </div>
			                            <hr>
			                        {% endif %}

	                            {% else %} {# <!-- unlikely condition --> #}
									<form class="form-horizontal" action="{{ data.post_page|joinurl({ 'change':'edit' }) }}" method="post" id="mainform">
										<p class="text-info">{{ _( "Please set up your display name to modify your post." ) }}</p>
										<button class="btn btn-info" type="submit" name="submittype">{{ _( "Set display name" ) }}</button> {# will be handled by ensure_has_display_name #}
									</form>
		                        {% endif %}
	                        {% endif %}
	                    {% endif %}
		            {% else %}
	                    <div>
		                    <p class="text-info">{{ _( "Please log in to modify your post." ) }}</p>
		                    <a href="{{ 'login'|local }}" class="btn btn-primary">{{ _( "Log in" ) }}</a>
		                    <a href="{{ 'register'|local }}" class="btn btn-primary">{{ _( "Sign up" ) }}</a>
	                    </div>
		            {% endif %}
				{% endif %}

            {% else %}
                <p class="text-info">{{ not_found }}</p>
                <p>
                    <a href="{{ 'forums'|local }}" class="btn btn-primary">{{ _( "Go back to Forums" ) }}</a>
                </p>
			{% endif %}

	        {% include "incfooter.html" %}
        </div>
    </body>
</html>
