<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>{{ _( "Privacy policy" ) }}</title>
    </head>

    <body>
        <div class="container">

            {% include "incbanner.html" %}
            {% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

			<h1>{{ _( "Privacy policy" ) }}</h1>

			<p>This policy explains how we collect, use and share your information across our websites and connected services.</p>

			<h2>Data we store, and how we use it</h2>
			<p>This website is based on the open source project <a href="https://github.com/juliettef/enkiWS">enkiWS</a>.</p>
			<p>When you register an account with us we store the email you provide us, a secure one way hash of your password if login with a password is chosen, and an authentication provider identifier if you login via one of the OAuth / OpenID providers.</p>
			<p>Our services allow you to voluntarily submit information to us, such as a display name, forum posts, and connections to other users as friends. Licenses of purchases you make as a logged in user of our website will be stored in your account, and you can also register products to your profile. </p>
			<p>Our security system uses your email to notify you of important changes to your account. You may opt out of this by removing your email on the profile page if you have another login method enabled.</p>
			<p>You may subscribe to our newsletter, in which we will case send you emails. You may unsubscribe at any time.</p>
			<p>For security purposes we keep temporary records of IP addresses for some website form actions.</p>

			<h2>Cookies</h2>
			<p>We store a single internal session cookie to enable basic website features, such as form security, account sign-up, language preferences, and login. This cookie is set to expire by default when you close the browser unless you choose to remain logged in.</p>

			<h2>Data deletion</h2>
			<p>You may choose to delete your account and all related information you have submitted. Some secure backups of this may exist on our servers but these are not made publicly available and will be regularly purged.</p>

			<h2>Information sharing</h2>
			<p>Our website services run on Google Cloud Platform using EU servers,
			and if you send us an email our email provider Google's G Suite will be used.</p>
			<p>Our website uses Mailgun to send newsletter and account security emails under the EU-U.S. Privacy Shield Framework.</p>

            {% include "incfooter.html" %}
    	</div>
    </body>
</html>
