<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
		{% include "incheadrobotsnofollow.html" %}
        <title>{{ _( "User" ) }}</title>
    </head>

    <body>
        <div class="container">

            {% include "incbanner.html" %}
			{% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

			<h1>{{ _( "User" ) }}</h1>

	        {% if display_name_data %}
	            {% if display_name_data.entity.display_name == deleted_dn %}
	                <h2>{{ deleted_dn_display }}</h2>
	            {% else %}
	                <h2>{{ display_name_data.entity.display_name }}</h2>
	                {% if display_name_data.list %}
	                    <p><b>{{ ngettext( "Previous display name", "Previous display names", display_name_data.list | count ) }} &nbsp;&nbsp;&nbsp;</b>{{ display_name_data.list | join(', ') }}</p>
	                {% endif %}
	            {% endif %}
	        {% endif %}

	        {% include "incpageextensions.html" %}

            {% include "incfooter.html" %}
        </div>
    </body>
</html>
