<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>{{ _( "Profile" ) }}</title>
    </head>

    <body>
        <div class="container">

            {% include "incbanner.html" %}
			{% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

            <h1>{{ _( "Profile and account settings" ) }}</h1>


			{# <!-- Public Info --> #}
	        <div class="well">
				<h2><a href id="public"></a>{{ _( "Public profile" )}}</h2>
				<div class="panel panel-default">
					{% if data.current_display_name %}
					<div class="panel-heading">
						<h4>{{ _("Public page") }} &nbsp;&nbsp;&nbsp;<a href="{{ data.current_display_name.user_page }}" class="btn btn-default btn-sm">{{ _( "View" ) }}</a></h4>
					</div>
					<div class="panel-body">
						<p><b>{{ _( "User Id" )}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>{{ data.current_display_name.user_id }}</p>
		                <p><b>{{ _( "Public page link" )}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b><a href = "{{ data.current_display_name.user_page }}">{{ data.current_display_name.user_page }}</a></p>
					</div>
					{% endif %}
					<div class="panel-heading">
						<h4>{{ _("Display Name") }} &nbsp;&nbsp;&nbsp;<a href="{{ 'displayname'|local }}" class="btn btn-default btn-sm">{{ _( "Change" ) }}</a></h4>
					</div>
					<div class="panel-body">
						{% if not data.current_display_name %}
							<div><p class="text-info">{{ _( "Your display name is your public Id. You need a display name to post in the forums, invite friends and join games." )}}</p>
							<a href="{{ 'displayname'|local }}" class="btn btn-info">{{ _( "Set display name" ) }}</a></div>
						{% else %}
							<p><b>{{ _( "Current" )}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>{{ data.current_display_name.display_name }}</p>
							{% if data.previous_display_names %}
							<p><b>{{ ngettext( "Previous", "Previous", data.previous_display_names | count ) }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>{{ data.previous_display_names | join(', ') }}</p>
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>


			{# <!-- Private Info --> #}
	        <div class="well">
				<h2><a href id="account"></a>{{ _( "Account" )}}</h2>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>{{ _("Authentication") }} &nbsp;&nbsp;&nbsp;<a href="{{ 'accountconnect'|local }}" class="btn btn-default btn-sm">{{ _( "Manage" ) }}</a></h4>
					</div>
					<div class="panel-body">
						<p><b>{{ _( "Email" )}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
							{% if data.email %}
								{{ data.email }}
							{% else %}
								{{ _( "None" ) }}
							{% endif %}
						</p>
						<p><b>{{ _( "Password" )}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
							{% if data.has_password %}
								{{ _( "Enabled" ) }}
							{% else %}
								{{ _( "None" ) }}
							{% endif %}
						</p>
						<p><b>{{ _( "Third party authentication" )}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
							{% if data.has_auth_id_providers %}
								{{ _( "Enabled" ) }}
							{% else %}
								{{ _( "None" ) }}
							{% endif %}
						</p>
					</div>
				</div>
                <a href="{{ 'accountdelete'|local }}" class="btn btn-default">{{ _( "Delete my account" )}}</a>
			</div>


			{# <!-- Extensions --> #}
            {% include "incpageextensions.html" %}


			{# <!-- Sessions --> #}
	        <div class="well">
				<h2><a href id="sessions"></a>{{ _( "Sessions" )}}</h2>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>{{ _( "Connected sessions" ) }} &nbsp;&nbsp;&nbsp;<a href="{{ 'sessions'|local }}" class="btn btn-default btn-sm">{{ _( "Manage" ) }}</a></h4>
					</div>
					<div class="panel-body">
						<p><b>{{ _( "Browser sessions (including current session)" )}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
							{% if data.sessions_browsers %}
								{{ data.sessions_browsers }}
							{% else %}
								{{ _( "None" ) }}
							{% endif %}
						</p>
						<p><b>{{ _( "Apps sessions" )}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
							{% if data.sessions_apps %}
								{{ data.sessions_apps }}
							{% else %}
								{{ _( "None" ) }}
							{% endif %}
						</p>
					</div>
				</div>
			</div>


            {% include "incfooter.html" %}
        </div>
    </body>
</html>
