<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>{{ _( "Profile" ) }}</title>
    </head>

    <body>
        <div class="container">

            {% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

            <h1>{{ _( "Profile and settings" ) }}</h1>

	        <div>
				<form class="form-group" action="{{ 'profile'|local }}" method="post">
					<input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
					<fieldset>
						<div class="form-group">
							<div class="col-sm-12" align="right">
								<button class="btn btn-default btn-xs" type="submit" name="extended" value={% if extended %}False>{{ _( "Hide details" ) }}{% else %}True>{{ _( "Show details" ) }}{% endif %}</button>
	                        </div>
	                    </div>
	                </fieldset>
	            </form>
	        </div>

	        <div class="well">
				<form class="form-group" action="{{ 'profile'|local }}" method="post">
					<input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
					<input type="hidden" name="anchor" value="public"><a href id="public"></a>
					<fieldset>
						<div class="form-group row">
							<div class="col-sm-10">
								<h2>{{ _( "Public info" )}}</h2>
	                        </div>
							<div class="col-sm-2" align="right">
								<button class="btn btn-default btn-xs" type="submit" name="extended" value={% if extended %}False>{{ _( "Hide details" ) }}{% else %}True>{{ _( "More" ) }}{% endif %}</button>
	                        </div>
	                    </div>
	                </fieldset>
	            </form>
	            {% if not data.current_display_name %}
	                <div><p class="text-info">{{ _( "Your display name is your public Id. You need a display name to post in the forums, invite friends and join games." )}}</p>
	                    <a href="{{ 'displayname'|local }}" class="btn btn-info">{{ _( "Set display name" ) }}</a></div>
	            {% else %}
			        {% if extended %}
		                <p>{{ _( "Current display name:" )}} {{ data.current_display_name.display_name }} &nbsp;<a href="{{ 'displayname'|local }}" class="btn btn-default btn-xs">{{ _( "Change display Name" ) }}</a></p>
		                {% if data.previous_display_names %}
		                    <p>{{ ngettext( "Past display name:", "Past display names:", data.previous_display_names | count ) }} {{ data.previous_display_names | join(', ') }}</p>
		                {% endif %}
		                <p>{{ _( "Public user profile and forum posts:" )}} <a href = "{{ data.current_display_name.user_page }}">{{ data.current_display_name.user_page }}</a></p>
		                <p>{{ _( "User Id:" )}} {{ data.current_display_name.user_id }}</p>
			        {% else %}
				        <p>{{ data.current_display_name.display_name }}</p>
		                <p><a href = "{{ data.current_display_name.user_page }}">{{ data.current_display_name.user_page }}</a></p>
			        {% endif %}
	            {% endif %}
	        </div>

	        <div class="well">
			    <form class="form-group" action="{{ 'profile'|local }}" method="post">
					<input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
					<input type="hidden" name="anchor" value="account"><a href id="account"></a>
					<fieldset>
						<div class="form-group row">
							<div class="col-sm-10">
								<h2>{{ _( "Account Settings" )}}</h2>
	                        </div>
							<div class="col-sm-2" align="right">
								<button class="btn btn-default btn-xs" type="submit" name="extended" value={% if extended %}False>{{ _( "Hide details" ) }}{% else %}True>{{ _( "More" ) }}{% endif %}</button>
	                        </div>
	                    </div>
	                </fieldset>
	            </form>
		        {% if extended %}
		            <a href="{{ 'accountconnect'|local }}" class="btn btn-default">{{ _( "Connected accounts" ) }}</a>
	                <a href="{{ 'accountdelete'|local }}" class="btn btn-default">{{ _( "Delete account" )}}</a>
		            <a href="{{ 'appdatastores'|local }}" class="btn btn-default">{{ _( "Apps data" ) }}</a>
		        {% else %}
		            <form class="form-group" action="{{ 'profile'|local }}" method="post">
						<input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
						<input type="hidden" name="anchor" value="account">
						<fieldset>
							<button class="btn btn-default" type="submit" name="extended" value=True>{{ _( "Manage" ) }}</button>
		                </fieldset>
	                </form>
		        {% endif %}
			</div>

	        <div class="well">
			    <form class="form-group" action="{{ 'profile'|local }}" method="post">
					<input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
					<input type="hidden" name="anchor" value="connect"><a href id="connect"></a>
					<fieldset>
						<div class="form-group row">
							<div class="col-sm-10">
								<h2>{{ _( "Connected Applications" )}}</h2>
	                        </div>
							<div class="col-sm-2" align="right">
								<button class="btn btn-default btn-xs" type="submit" name="extended" value={% if extended %}False>{{ _( "Hide details" ) }}{% else %}True>{{ _( "More" ) }}{% endif %}</button>
	                        </div>
	                    </div>
	                </fieldset>
	            </form>
		        {% if extended %}
		            {% if data.sessions %}
		                <h3>{{ _( "Browser sessions" ) }}</h3>
		                <form class="form-group" action="{{ 'profile'|local }}" method="post">
		                    <input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
		                    {% for session in data.sessions %}
		                        <p>
		                            {{ _( "Connected" ) }} {{ session[ 'time_created' ].strftime( "%a, %d %b %Y %H:%M:%S" ) }}
			                        {% if session[ 'current' ] %}
			                            &nbsp;<button class="btn btn-default disabled btn-xs" }}">{{ _( "Current session" ) }}</button>
			                        {% else %}
		                                &nbsp;<button class="btn btn-primary btn-xs" type="submit" name="disconnect" value="{{ session[ 'tokenauth_id' ] }}">{{ _( "Disconnect" ) }}</button>
			                        {% endif %}
		                        </p>
		                    {% endfor %}
		                </form>
		            {% endif %}
		            {% if data.sessions_app %}
			            <h3>{{ _( "Apps" ) }}</h3>
			            <form class="form-group" action="{{ 'profile'|local }}" method="post">
			                <input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
			                {% for session_app in data.sessions_app %}
			                    <p>
			                        {{ _( "Connected" ) }} {{ session_app[ 'time_created' ].strftime( "%a, %d %b %Y %H:%M:%S" ) }}
			                        &nbsp;<button class="btn btn-primary btn-xs" type="submit" name="disconnect_app" value="{{ session_app[ 'token_id' ] }}">{{ _( "Disconnect" ) }}</button>
			                    </p>
			                {% endfor %}
			            </form>
		            {% endif %}
		        {% else %}
		            {% if data.sessions %}
		                <p>{{ data.sessions|length }} browser sessions</p>
		            {% endif %}
		            {% if data.sessions_app %}
		                <p>{{ data.sessions_app|length }} apps</p>
		            {% endif %}
		        {% endif %}
	        </div>

	        <div class="well">
		        <form class="form-group" action="{{ 'profile'|local }}" method="post">
					<input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
					<input type="hidden" name="anchor" value="friends"><a href id="friends"></a>
					<fieldset>
						<div class="form-group row">
							<div class="col-sm-10">
								<h2>{{ _( "Friends" )}}</h2>
	                        </div>
							<div class="col-sm-2" align="right">
								<button class="btn btn-default btn-xs" type="submit" name="extended" value={% if extended %}False>{{ _( "Hide details" ) }}{% else %}True>{{ _( "More" ) }}{% endif %}</button>
	                        </div>
	                    </div>
	                </fieldset>
	            </form>
		        {% if extended %}
		            <span>
			            <a href="{{ 'friends'|local }}" class="btn btn-default">{{ _( "Friends" ) }}</a>
			            <a href="{{ 'messages'|local }}" class="btn btn-default">{{ _( "Messages" ) }}</a>
			        </span>
		        {% else %}
		                <p>{{ data.friends }} friends</p>
		                <p>{{ data.messages }} messages</p>
		        {% endif %}
			</div>

            {% include "incpageextensions.html" %}

			<div class="well">
		        <form class="form-group" action="{{ 'profile'|local }}" method="post">
					<input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
					<input type="hidden" name="anchor" value="developers"><a href id="developers"></a>
					<fieldset>
						<div class="form-group row">
							<div class="col-sm-10">
								<h2>{{ _( "Developers" )}}</h2>
	                        </div>
							<div class="col-sm-2" align="right">
								<button class="btn btn-default btn-xs" type="submit" name="extended" value={% if extended %}False>{{ _( "Hide details" ) }}{% else %}True>{{ _( "More" ) }}{% endif %}</button>
	                        </div>
	                    </div>
	                </fieldset>
	            </form>
				{% if extended %}
		            <span>
			            <a href="{{ 'apps'|local }}" class="btn btn-default">{{ _( "Applications" ) }}</a>
			        </span>
				{% else %}
		                <p>{{ data.apps }} apps</p>
		        {% endif %}
			</div>

            {% include "incfooter.html" %}
        </div>
    </body>
</html>
