<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>{{ _( "Profile" ) }}</title>
    </head>

    <body>
        <div class="container">

            {% include "incbanner.html" %}
			{% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

            <h1>{{ _( "Profile and account settings" ) }}</h1>

			{# <!-- Public Info --> #}
	        <div class="well">
				<h2><a href id="public"></a>{{ _( "Public profile" )}}</h2>
				<div class="panel panel-default">
					{% if data.current_display_name %}
					<div class="panel-heading">
						<h4>{{ _("Public page") }} &nbsp;&nbsp;&nbsp;<a href="{{ data.current_display_name.user_page }}" class="btn btn-default btn-sm">{{ _( "View" ) }}</a></h4>
					</div>
					<div class="panel-body">
						<p><b>{{ _( "User Id" )}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>{{ data.current_display_name.user_id }}</p>
		                <p><b>{{ _( "Public page link" )}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b><a href = "{{ data.current_display_name.user_page }}">{{ data.current_display_name.user_page }}</a></p>
					</div>
					{% endif %}
					<div class="panel-heading">
						<h4>{{ _("Display Name") }} &nbsp;&nbsp;&nbsp;<a href="{{ 'displayname'|local }}" class="btn btn-default btn-sm">{{ _( "Change" ) }}</a></h4>
					</div>
					<div class="panel-body">
						{% if not data.current_display_name %}
							<div><p class="text-info">{{ _( "Your display name is your public Id. You need a display name to post in the forums, invite friends and join games." )}}</p>
							<a href="{{ 'displayname'|local }}" class="btn btn-info">{{ _( "Set display name" ) }}</a></div>
						{% else %}
							<p><b>{{ _( "Current" )}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>{{ data.current_display_name.display_name }}</p>
							{% if data.previous_display_names %}
							<p><b>{{ ngettext( "Previous", "Previous", data.previous_display_names | count ) }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>{{ data.previous_display_names | join(', ') }}</p>
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>


			{# <!-- Private Info --> #}
	        <div class="well">
				<h2><a href id="account"></a>{{ _( "Account" )}}</h2>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>{{ _("Authentication") }} &nbsp;&nbsp;&nbsp;<a href="{{ 'accountconnect'|local }}" class="btn btn-default btn-sm">{{ _( "Change" ) }}</a></h4>
					</div>
					<div class="panel-body">
						<p><b>{{ _( "Email" )}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
							{% if data.email %}
								{{ data.email }}
							{% else %}
								{{ _( "Not set" ) }}
							{% endif %}
						</p>
						<p><b>{{ _( "Password" )}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
							{% if data.has_password %}
								{{ _( "Enabled" ) }}
							{% else %}
								{{ _( "Not set" ) }}
							{% endif %}
						</p>
						<p><b>{{ _( "Third party authentication" )}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
							{% if data.has_auth_id_providers %}
								{{ _( "Enabled" ) }}
							{% else %}
								{{ _( "Not set" ) }}
							{% endif %}
						</p>
					</div>
				</div>
                <a href="{{ 'accountdelete'|local }}" class="btn btn-default">{{ _( "Delete my account" )}}</a>
			</div>


			{# <!-- Friends --> #}
	        <div class="well">
				<h2>{{ _( "Friends and Messaging" )}}</h2>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>{{ _("Friends") }} &nbsp;&nbsp;&nbsp;<a href="{{ 'friends'|local }}" class="btn btn-default btn-sm">{{ _( "Manage" ) }}</a></h4>
					</div>
					<div class="panel-body">
						<p><b>{{ ngettext( "Friend", "Friends", data.friends ) }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
							{% if data.friends %}
								{{ data.friends }}
							{% else %}
								{{ _( "None" ) }}
							{% endif %}
						</p>
					</div>
					<div class="panel-heading">
						<h4>{{ _( "Messages" ) }} &nbsp;&nbsp;&nbsp;<a href="{{ 'messages'|local }}" class="btn btn-default btn-sm">{{ _( "Manage" ) }}</a></h4>
					</div>
					<div class="panel-body">
						<p><b>{{ ngettext( "Message", "Messages", data.messages ) }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
							{% if data.messages %}
								{{ data.messages }}
							{% else %}
								{{ _( "None" ) }}
							{% endif %}
						</p>
					</div>
				</div>
			</div>

			{# <!-- Library --> #}
			{# <!-- Connected Applications --> #}
            {% include "incpageextensions.html" %}

			{# <!-- Connected Browsers and Applications --> #}
			<div class="well">
			    <form class="form-group" action="{{ 'profile'|local }}" method="post">
					<input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
					<input type="hidden" name="anchor" value="connect"><a href id="connect"></a>
					<fieldset>
						<div class="form-group row">
							<div class="col-sm-10">
								<h2>{{ _( "Connected Applications" )}}</h2>
	                        </div>
							<div class="col-sm-2" align="right">
								<button class="btn btn-default btn-xs" type="submit" name="extended" value={% if extended %}False>{{ _( "Hide" ) }}{% else %}True>{{ _( "Show" ) }}{% endif %}</button>
	                        </div>
	                    </div>
	                </fieldset>
	            </form>
		        {% if extended %}
		            {% if data.sessions %}
		                <h3>{{ _( "Browser sessions" ) }}</h3>
		                <form class="form-group" action="{{ 'profile'|local }}" method="post">
		                    <input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
		                    {% for session in data.sessions %}
		                        <p>
		                            {{ _( "Connected" ) }} {{ session[ 'time_created' ].strftime( "%a, %d %b %Y %H:%M:%S" ) }}
			                        {% if session[ 'current' ] %}
			                            &nbsp;<button class="btn btn-default disabled btn-xs" }}">{{ _( "Current session" ) }}</button>
			                        {% else %}
		                                &nbsp;<button class="btn btn-primary btn-xs" type="submit" name="disconnect" value="{{ session[ 'tokenauth_id' ] }}">{{ _( "Disconnect" ) }}</button>
			                        {% endif %}
		                        </p>
		                    {% endfor %}
		                </form>
		            {% endif %}
		            {% if data.sessions_app %}
			            <h3>{{ _( "Apps" ) }}</h3>
			            <form class="form-group" action="{{ 'profile'|local }}" method="post">
			                <input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
			                {% for session_app in data.sessions_app %}
			                    <p>
			                        {{ _( "Connected" ) }} {{ session_app[ 'time_created' ].strftime( "%a, %d %b %Y %H:%M:%S" ) }}
			                        &nbsp;<button class="btn btn-primary btn-xs" type="submit" name="disconnect_app" value="{{ session_app[ 'token_id' ] }}">{{ _( "Disconnect" ) }}</button>
			                    </p>
			                {% endfor %}
			            </form>
		            {% endif %}
		        {% else %}
		            {% if data.sessions %}
		                <p>{{ data.sessions|length }} {{ ngettext( "browser session", "browser sessions", data.sessions | count ) }}</p>
		            {% endif %}
		            {% if data.sessions_app %}
		                <p>{{ data.sessions_app|length }} apps</p>
		            {% endif %}
		        {% endif %}
	        </div>

            {% include "incfooter.html" %}
        </div>
    </body>
</html>
