<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>{{ _( "Store" )}}</title>
    </head>

    <body>
        <div class="container">

            {% include "incbanner.html" %}
			{% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

            <h1>{{ _( "Store" )}}</h1>

            <div class="jumbotron">
                <h2>{{ product_displayname[ 'product_a' ] }}</h2>
	            <form class="form-group" action="{{ 'store'|local }}" method="post">
	                <p>
                       <button class="btn btn-info btn-lg" type="submit" name="buy" value="{{ product }}">{{ _( "Purchase" )}}</button>
	                </p>
                </form>
            </div>

			{# <!-- requires enkiDL --> #}
			<div class="jumbotron">
                <h2>{{ product_displayname[ 'product_a' ] }}</h2>
	            <form class="form-group" action="{{ 'store'|local }}" method="post">
	                <p>
                       <button class="btn btn-info btn-lg" type="submit" name="download" value="product_a">{{ _( "Download" )}}</button>
	                </p>
                </form>
            </div>
			{# <!-- END requires enkiDL --> #}

	        {% include "incpageextensions.html" %}

            {% include "incfooter.html" %}
    	</div>
    </body>
</html>
