<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>{{ _( "Terms of service" ) }}</title>
    </head>

    <body>
        <div class="container">

            {% include "incbanner.html" %}
            {% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

			<h1>{{ _( "Terms of service" ) }}</h1>

<p>Enkisoftware Limited (enkisoftware) reserve the right to change these terms at any time. Whilst we will do our best to inform you, you should regularly review this page.</p>
<p>You agree not to post illegal content (either in your country or under English law), nor any harmful, obscene, abusive, invasive of privacy, defamatory, hateful or otherwise discriminatory, or sexually-explicit material. This website is moderated by enkisoftware and you agree that we have the right to modify your posts and threads at any time and in any way we see fit. Your account may be banned at our discretion.</p>
<p>You agree that enkisoftware has the right to store your information in our databases (see Privacy Policy for details), and distribute on our website and public content you make.</p>
<p>In no event will enkisoftware be liable for any loss or any damage including (but not limited to) loss of profits, loss of savings, damage to computer hardware or software, loss of data or any other direct or indirect or special or incidental or consequential damage arising either out of the use or the inability to use the website or hacking of the website even if enkisoftware has been advised of the possibility of such losses or damages.</p>
<p>This website is based on the software enkiWS. enkiWS is provided 'as-is', without any express or implied warranty. In no event will the authors be held liable for any damages arising from the use of enkiWS.</p>
<p>This licence is governed by the law of England without reference to its rules on conflict of laws. Any difference or dispute arising out of or connected with any term of this licence shall be referred to an English court of competent jurisdiction.</p>
<p>If a court of competent jurisdiction finds any provision of the licence to be void or unenforceable for any reason whatsoever then such provision shall be ineffective to the extent of the court's finding without affecting the validity and enforceability of any remaining provisions.</p>


            {% include "incfooter.html" %}
    	</div>
    </body>
</html>
